[Unit]
Description=Docker Nginx container
PartOf=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
TimeoutStartSec=infinity
ExecStartPre=/usr/bin/docker run -d -it --init --rm \
             -p 80:80 -p 443:443 \
             -v letsEncrypt:/etc/letsencrypt -v nginx:/etc/nginx \
             --name Nginx --hostname Nginx \
             ghcr.io/fernandoenzo/nginx:latest
ExecStart=/usr/bin/docker logs -f Nginx
ExecStop=-/usr/bin/docker stop Nginx
Restart=always
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target

